.up{
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    height: 40px;
    background-color: indigo;
}
.left{
    position: fixed;
    top: 40px;
    width:20%;
    bottom: 0px;
    left:0px;
    background-color: blue;
}
.main{
    position: absolute;
    top: 40px;
    left: 20%;
    right: 0px;
    bottom: 0px;
    background-color: cyan;
}
.icon{
    position: relative;
    top: 0px;
    left:10px;
    width: 50px;
    height: 40px;
}
.name{
    position:  inherit;
    top: 0px;
    left: 70px;
    color: white;
}
.btn_box{
    position: inherit;
    display: flex;
    justify-content: space-evenly;
    top:0px;
    left: 20%;
    right: 20%;
    border-color: black;
    border-width: 1px;

}
.btn{
    position: relative;
    top: 10px;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;       
}
.search{
    position: inherit;
    right:15px;
    top: 10px;

}
h1{
    position: inherit;
    display: flex;
    justify-content: center;
    top: 30px;
    left: 5%;
    right: 85%;
}
p{
    position: inherit;
    display: flex;
    justify-content: center;
    top: 30px;
    left: 5%;
    right: 85%;
}

ol{
   position:inherit;
   padding: 0px 85% 0px 3%;
   display: table-column;
   justify-content: center;
   list-style: none;
   top: 80px ; 
}